<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>

<div class="container">
    <div class="form-box" id="register-form">
        <h2>Register</h2>
        <form th:action="@{/auth/register}" method="post" th:object="${user}">
            <input th:field="*{username}" type="text" placeholder="Username" required>
            <input th:field="*{email}" type="email" placeholder="Email" required>
            <input th:field="*{phone}" type="tel" placeholder="Phone" required>
            <input th:field="*{password}" type="password" placeholder="Password" required>
            <input th:field="*{confirmPassword}" type="password" placeholder="Confirm Password" required>
<!--            <select th:field="*{role}" required>-->
<!--                <option value="USER">User</option>-->
<!--                <option value="ADMIN">Admin</option>-->
<!--            </select>-->

            <button type="submit">Register</button>

            <p>
               Already have an account ? <a th:href="@{/auth/login}">Login</a>
            </p>
        </form>

        <!-- Hiển thị lỗi hoặc thành công -->
        <p th:if="${error}" th:text="${error}" style="color:red;"></p>
        <p th:if="${success}" th:text="${success}" style="color:green;"></p>

    </div>
</div>

</body>
</html>
