<div class="topnav" th:fragment="navigation">
  <!-- Trang chủ luôn hiển thị khi đăng nhập -->
  <a class="active" href="/">Trang chủ</a>

  <!-- Chỉ admin mới thấy 2 mục này -->
  <a href="/motels" sec:authorize="hasRole('ADMIN')">Nhà trọ</a>
  <a href="/posts/create/motel" sec:authorize="hasRole('ADMIN')">Bài đăng</a>

  <!-- Đã đăng nhập -->
  <div style="float: right;" sec:authorize="isAuthenticated()">
    <a href="/profile" title="Thông tin cá nhân" style="padding-right: 10px;">
      <i class="fas fa-user" style="font-size: 20px; color: #007bff;"></i>
    </a>

    <form th:action="@{/logout}" method="post" style="display: inline;">
      <button type="submit" class="btn-logout" style="background: none; border: none; color: #007bff; cursor: pointer; padding: 14px;font-size: 17px">
        Đăng xuất
      </button>
    </form>
  </div>

  <!-- Chưa đăng nhập -->
  <div style="float: right;" sec:authorize="isAnonymous()">
    <a href="/auth/login">Đăng nhập</a>
    <a href="/auth/register">Đăng ký</a>
  </div>
</div>
