body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


h2{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.post-container {
    max-width: 700px;
    margin-top: 22px;
    background: white;
    margin: auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: 600;
    margin-top: 20px;
    display: block;
    color: #444;
}

form input[type="text"],
form select,
form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

form textarea {
    resize: vertical;
}

.post-create {
    margin-top: 30px;
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}